.bg-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.bg-overlay-inner {
  background-color: white;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  z-index: 101;
}

.info-popup {
  z-index: 1002;
}

.position-fixed {
  position: fixed;
  z-index: 102;
}

.info-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
