.custom-navbar {
    background-color: #5c8774; 
  }
  
  .navbar-logo {
    max-width: 110px;
    height: auto; 
    margin-left: 10px;
  }
  
  .navbar .nav-link::after {
    display: none;
  }
  
  .p.card-text.fw-bold {
    bottom: 5px;
  }

  .custom-dropdown-mobile{
    text-align: right;
  }

  @media (max-width: 768px) {
    div.dropdown-menu.show {
      text-align: right;
    }
  }
