@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.App {
  text-align: center;
}

#root {
  background-image: url('/public/background-image.jpg');
  background-size: cover;
}

body{
  margin: 0;
}

.about-header, .about-header2, .about-p {
  font-family: 'Oswald';
}

.about-header2, .about-header {
  font-weight: bold;
}

.hide-arrows .carousel-control-prev,
.hide-arrows .carousel-control-next {
  display: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}

.loading-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: white;
}

.loading-container {
  font-size: 24px;
  font-weight: bold;
  color: #007BFF;
  animation: fadeInOut 2s infinite;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

