@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.App {
  text-align: center;
}

#root {
  background-image: url('/public/background-image.jpg');
  background-size: cover;
}

body{
  margin: 0;
}

.custom-navbar {
  background-color: #5c8774; 
}

.navbar-logo {
  max-width: 110px; /* Adjust the width as needed */
  height: auto; /* Maintain the aspect ratio */
  margin-left: 10px;
}

.about-header, .about-header2, .about-p {
  font-family: 'Oswald';
}

.about-header2, .about-header {
  font-weight: bold;
}